[submodule "packages/client-sdk-ts"]
	path = packages/client-sdk-ts
	url = https://github.com/bridgedxyz/client-sdk-ts.git
[submodule "packages/reflect-core"]
	path = packages/reflect-core
	url = https://github.com/bridgedxyz/reflect-core-ts.git
